
.navbar{
  background-color: #2A1A50;
}

body {

  background-image: url("../img/back.jpg");

}

.pag{
  padding-top: 80px;
}


#logo{
  width: 210px;
  height: 40px;

}
.white{
  color: white;
}
footer {
  background-color: #2A1A50;
  color: grey;
}
#canvas {
  background-color: rgb(173,173,173);
}

#logo, .logo{
  height: 75px;
  width: auto;

}

#loguito{
  animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
      animation-direction: alternate;
}
@-moz-keyframes slidein {
  from {
    width:0%
  }

  to {
    width:15%;
  }
}

@-webkit-keyframes slidein {
  from {
    width:0%
  }

  to {
   width:15%;
 }
}

@keyframes slidein {
  from {

    width:0%
  }

  to {
   width:15%;
 }
}
.white{
  color: white;
}
.card{
  margin: 3px;
  margin-bottom: 20px;
}

.breadcrumb{
	background-color: rgba(0,0,0,0);
}

.name-player{
	color: white !important;
}

#tabla {
  margin-left: 50px;
}
