<!DOCTYPE HTML>
<html>

<head>
  <title>4 en linea</title>
  <meta name="description" content="website description" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
</head>

<body>
  <div id="main">
        <h1><a href="#">4</a> en linea</h1>
        <div class="slogan">Let's the game begin</div>
    <div id="site_content">
        <button type="button"  class="boton" title="a veces tarda pero funciona siempre" name="button" id='reinicio'> Reiniciar Juego</button>
      <div class="lienzo">
        <canvas id="canvas" width="500" height="550" style="border:#000 solid 1px;"/>
          <style>#canvas { background-color: rgb(173,216,230); }</style>
      </div>
  </div>
    <div id="footer">
      <p>Copyright &copy; 4en Linea | <a href="#">Ezequiel Fazio</a> | <a href="#">Interfaces 2018</a> | <a href="#">TUDAI</a></p>
    </div>
  </div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</html>
